.top-div{
    /* display: flex; */
    justify-content: center;
    /* align-items: center; */
    /* height: 100vh; */
}

.background{
    background-color: rgb(0, 127, 238);
}

.color{
    color: blueviolet;
}