<app-login (signUpPermissionFromLogin)="receivedDataFromLogin($event)" (permissionToShowCompanyFromLogin)="receivedDataFromLoginToSHowCompany($event)" *ngIf="showLOginPage" [newUserNameAfterSignUp]="new_user" [newUserPasswordAfterSignUp]="new_user_password"></app-login>
<app-sign-up *ngIf="signUpOrNot" (SignUpDone)="ReceivedDataFromSignUp($event)" (SignUpDone1)="ReceivedNewUserName($event)" (SignUpDone2)="ReceivedNewUserPassword($event)"></app-sign-up>

<app-company *ngIf="showCompanyOrNot" ></app-company> 

