<body>
  <h3>Hello , Welcome ....</h3>
  <div class="top-div">
    <div style="width: 500px; border: 1px solid black; padding: 20px;">
      <form>
        <div class="form-group">
          <label id="label" for="userName" class="text-danger">
            <h6>User Name : </h6>
          </label>
          <input type="text" class="form-control" name="UName" placeholder="Enter UserName" [(ngModel)]="userNameSignUpPage">
          <label id="label" for="permission" class="text-danger"><h6>Choose your role :</h6> </label>
          <select id="select" id="permission" name="permission" [(ngModel)]="UserAccessSignUpPage" >
            <option value="superAdmin">superAdmin</option>
            <option value="admin">admin</option>
            
          </select>
  
  
        </div>
        <div class="form-group">
          <label id="label" for="password" class="text-danger">
            <h6>Password:</h6>
          </label>
          <input type="password" class="form-control" name="PWord" value="" placeholder="Password" [(ngModel)]="PasswordSignUpPage">
        </div>
        <div class="form-group">
          <label id="label" for="password" class="text-danger">
            <h6>Renter Password:</h6>
          </label>
          <input type="password" class="form-control" name="RPWord" value="" placeholder="Password" [(ngModel)]="reEnterPasswordSignUPPage">
        </div>
        <div class="d-flex justify-content-center">
  
          <button type="submit" class="btn btn-dark my-3" (click)="newRegistration()">Register</button>
        </div>
  
      </form>
    </div>
  </div>
</body>
